.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  padding-left: 0;
}

.header__link {
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
  
}





.header__logo {
    display: block;
    width: 137px;
}

.header__address {
  justify-self: end;
}

.address {
   max-width: 240px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

